<%- include('partials/head.ejs')%>
<body>
 <%- include('partials/navigation.ejs')%>

    <div class = "main">
        <h1>Edit expediture</h1>
        <div class="main3">
        <form action="/forms/<%=id%>?_method=PUT" method="post">
            <label for="expenseName">Expense Name:</label><br>
            <input type="text" id="expenseName" name="expenseName" value="<%=form.expensename %>" ><br>
            
            <label for="category">Category:</label><br> 
            <select id="category" name="category" selected="<%=form.category%>">
                <option value="Food" <% if(form.category === 'Food') { %> selected <% } %> >Food</option>
                <option value="Bills" <% if(form.category === 'Bills') { %> selected <% } %> >Bills</option>
                <option value="Health" <% if(form.category === 'Health') { %> selected <% } %> >Health</option>
                <option value="Clothes" <% if(form.category === 'Clothes') { %> selected <% } %> >Clothes</option>
                <option value="Relaxation" <% if(form.category === 'Relaxation') { %> selected <% } %> >Relaxation</option>
                <option value="Others" <% if(form.category === 'Others') { %> selected <% } %> >Others</option>
            </select><br>
            
             <label for="sum">Sum[$]:</label><br>
            <input type="number" id="sum" name="sum" value="<%=form.sum %>"><br>
            
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date" value="<%= new Date(form.date).toISOString().split('T')[0] %>"><br>
            <br>
             
            <button type="submit">Submit</button>
        </form>
        <div>
     </div>
</body>
</html>