<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/navigation.ejs')%>

    <div class="main">
        <h1>Expense report</h1>
        
        <div class ="main2">

            <h4>Sum of money based on the category</h4>
            Sum of expenditures allocated for Food: <%=sumFood%>$<br>
            Sum of expenditures allocated for Bills : <%=sumBills%>$<br>
            Sum of expenditures allocated for Health : <%=sumHealth%>$<br>
            Sum of expenditures allocated for Clothes : <%=sumClothes%>$<br>
            Sum of expenditures allocated for Relaxation : <%=sumRelaxation%>$<br>
            Sum of expenditures allocated for Others : <%=sumOthers%>$<br>
        </div>
    </div>
</body>
</html>